<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive" />
  </div>
</div>
<div class="row">
  <div class="cols-xs-12">
    <h1>Recipe Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        id="recipeaction"
        role="button"
        data-bs-toggle="dropdown"
      >
        Mange Recipe
      </button>
      <ul
        class="dropdown-menu dropdown-menu-dark"
        aria-labelledby="recipeaction"
      >
        <li>
          <a class="dropdown-item" href="#">Add to Shopping list</a>
        </li>
        <li><a class="dropdown-item" href="#">Edit recipe</a></li>
        <li><a class="dropdown-item" href="#">Delete recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Description
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>
